workflow.json
{
  "name": "Fetch Contests to WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://codeforces.com/api/contest.list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gym",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "141de8b2-b7f3-4fb0-a734-9de54848d7c4",
      "name": "Fetch Codeforces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leetcode.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Referer",
              "value": "https://leetcode.com/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64 AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36)"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{ topTwoContests { title titleSlug startTime duration } }\"\n}",
        "options": {}
      },
      "id": "2",
      "name": "Fetch LeetCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData(\"global\");\nconst cfData = $(\"Fetch Codeforces\").first().json.result || [];\nconst lcData = $(\"Fetch LeetCode\").first().json.data.topTwoContests || [];\n\nconst now = Math.floor(Date.now() / 1000);\nconst d = new Date();\nconst currentDay = d.getDay(); // 0=Sun, 1=Mon, 4=Thu\nconst currentHour = d.getHours(); \nconst todayStr = d.toISOString().split(\"T\")[0];\n\nlet message = \"\";\nlet send = false;\n\n// Format helper\nfunction getTimeRemaining(startTime) {\n  const diff = startTime - now;\n  const days = Math.floor(diff / (24 * 60 * 60));\n  const hours = Math.floor((diff % (24 * 60 * 60)) / (60 * 60));\n  if (days === 0 && hours === 0) return \"in less than an hour!\";\n  if (days === 0) return `in ${hours} hour${hours > 1 ? \"s\" : \"\"}`;\n  if (hours === 0) return `in ${days} day${days > 1 ? \"s\" : \"\"}`;\n  return `in ${days} day${days > 1 ? \"s\" : \"\"} and ${hours} hour${hours > 1 ? \"s\" : \"\"}`;\n}\n\n// Find next contests\nconst cfUpcoming = cfData.filter(c => c.phase === \"BEFORE\" && c.startTimeSeconds >= now);\ncfUpcoming.sort((a, b) => a.startTimeSeconds - b.startTimeSeconds);\nconst nextCf = cfUpcoming.length > 0 ? cfUpcoming[0] : null;\n\nconst lcUpcoming = lcData.filter(c => c.startTime >= now);\nlcUpcoming.sort((a, b) => a.startTime - b.startTime);\nconst nextLc = lcUpcoming.length > 0 ? lcUpcoming[0] : null;\n\nlet oneHourAlerts = [];\nlet todayAlerts = [];\n\n// Check Codeforces\nif (nextCf) {\n  const diff = nextCf.startTimeSeconds - now;\n  if (diff > 0 && diff <= 75 * 60) oneHourAlerts.push(`*Codeforces:* ${nextCf.name}`);\n  if (diff > 0 && diff <= 24 * 3600) todayAlerts.push(`*Codeforces:* ${nextCf.name} (Starts ${getTimeRemaining(nextCf.startTimeSeconds)})`);\n}\n// Check LeetCode\nif (nextLc) {\n  const diff = nextLc.startTime - now;\n  if (diff > 0 && diff <= 75 * 60) oneHourAlerts.push(`*LeetCode:* ${nextLc.title}`);\n  if (diff > 0 && diff <= 24 * 3600) todayAlerts.push(`*LeetCode:* ${nextLc.title} (Starts ${getTimeRemaining(nextLc.startTime)})`);\n}\n\n// Evaluate Conditions with Memory\nif (oneHourAlerts.length > 0) {\n  // Always send emergency 1-hour alert if laptop happens to be awake\n  message = \"\ud83d\udd25 *CONTEST STARTING IN 1 HOUR!* \ud83d\udd25\\n\\n\" + oneHourAlerts.join(\"\\n\");\n  send = true;\n} \nelse if (todayAlerts.length > 0 && staticData.lastContestDay !== todayStr) {\n  // Send \"Contest Today\" alert if we haven't sent it yet today\n  message = \"\ud83c\udf05 *Contest Today!* Good luck:\\n\\n\" + todayAlerts.join(\"\\n\");\n  staticData.lastContestDay = todayStr;\n  send = true;\n} \nelse if ((currentDay === 1 || currentDay === 4) && currentHour >= 18 && staticData.lastWeeklyDay !== todayStr) {\n  // Send Weekly Overview on Mon/Thu after 6 PM, if we haven't sent it yet today\n  message = \"*\ud83d\udcc5 Weekly Contest Overview*\\n\\n\";\n  if (nextCf) message += `*Codeforces:* ${nextCf.name} is ${getTimeRemaining(nextCf.startTimeSeconds)}\\n`;\n  if (nextLc) message += `*LeetCode:* ${nextLc.title} is ${getTimeRemaining(nextLc.startTime)}\\n`;\n  staticData.lastWeeklyDay = todayStr;\n  send = true;\n}\n\nif (!send) {\n  return []; // Stop workflow silently\n}\n\nreturn { message };\n"
      },
      "id": "3",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/myinstance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "my_global_api_key_123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363427363552267@g.us\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "4",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Codeforces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Codeforces": {
      "main": [
        [
          {
            "node": "Fetch LeetCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LeetCode": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}