workflow.json
{
  "name": "Fetch Contests to WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://codeforces.com/api/contest.list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gym",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "141de8b2-b7f3-4fb0-a734-9de54848d7c4",
      "name": "Fetch Codeforces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leetcode.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Referer",
              "value": "https://leetcode.com/"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{ topTwoContests { title titleSlug startTime duration } }\"\n}",
        "options": {}
      },
      "id": "2",
      "name": "Fetch LeetCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData(\"global\");\n\n// Fix #2: null-safe on both fetches, not just LeetCode\nconst cfData = $(\"Fetch Codeforces\").first()?.json?.result || [];\nconst lcData = $(\"Fetch LeetCode\").first()?.json?.data?.topTwoContests || [];\n\nconst now = Math.floor(Date.now() / 1000);\n\n// Use IST explicitly instead of server-local time\nconst d = new Date();\nconst istString = d.toLocaleString(\"en-US\", { timeZone: \"Asia/Kolkata\" });\nconst dIST = new Date(istString);\nconst currentDay = dIST.getDay();\nconst currentHour = dIST.getHours();\n\n// Build todayStr from IST date, not UTC\nconst istYear = dIST.getFullYear();\nconst istMonth = String(dIST.getMonth() + 1).padStart(2, \"0\");\nconst istDate = String(dIST.getDate()).padStart(2, \"0\");\nconst todayStr = `${istYear}-${istMonth}-${istDate}`;\n\nlet message = \"\";\nlet send = false;\n\n// Format helper for time remaining\nfunction getTimeRemaining(startTime) {\n  const diff = startTime - now;\n  const days = Math.floor(diff / (24 * 60 * 60));\n  const hours = Math.floor((diff % (24 * 60 * 60)) / (60 * 60));\n  if (days === 0 && hours === 0) return \"in less than an hour\";\n  if (days === 0) return `in ${hours} hour${hours > 1 ? \"s\" : \"\"}`;\n  if (hours === 0) return `in ${days} day${days > 1 ? \"s\" : \"\"}`;\n  return `in ${days} day${days > 1 ? \"s\" : \"\"} and ${hours} hour${hours > 1 ? \"s\" : \"\"}`;\n}\n\n// Format helper for duration\nfunction getDuration(seconds) {\n  const h = Math.floor(seconds / 3600);\n  const m = Math.floor((seconds % 3600) / 60);\n  if (m === 0) return `${h} hour${h > 1 ? \"s\" : \"\"}`;\n  return `${h}h ${m}m`;\n}\n\n// Helper to get IST date string from epoch seconds\nfunction getIstDateStr(epochSeconds) {\n  const dt = new Date(epochSeconds * 1000);\n  const ist = dt.toLocaleString(\"en-US\", { timeZone: \"Asia/Kolkata\" });\n  const dIST = new Date(ist);\n  return `${dIST.getFullYear()}-${String(dIST.getMonth() + 1).padStart(2, \"0\")}-${String(dIST.getDate()).padStart(2, \"0\")}`;\n}\n\n// Fix #3: consider ALL upcoming contests per platform, not just the nearest one,\n// so a second same-day contest isn't silently dropped.\nconst cfUpcoming = cfData\n  .filter(c => c.phase === \"BEFORE\" && c.startTimeSeconds >= now)\n  .sort((a, b) => a.startTimeSeconds - b.startTimeSeconds);\n\nconst lcUpcoming = lcData\n  .filter(c => c.startTime >= now)\n  .sort((a, b) => a.startTime - b.startTime);\n\nconst nextCf = cfUpcoming.length > 0 ? cfUpcoming[0] : null; // still used for weekly overview\nconst nextLc = lcUpcoming.length > 0 ? lcUpcoming[0] : null;\n\nlet oneHourAlerts = [];\nlet todayAlerts = [];\n\n// Check ALL upcoming Codeforces contests within the relevant windows\nfor (const cf of cfUpcoming) {\n  const diff = cf.startTimeSeconds - now;\n  const dur = getDuration(cf.durationSeconds);\n  if (diff > 0 && diff <= 75 * 60) {\n    oneHourAlerts.push(`*Codeforces:* ${cf.name} (Duration: ${dur})`);\n  }\n  if (diff > 0 && getIstDateStr(cf.startTimeSeconds) === todayStr && currentHour >= 8) {\n    todayAlerts.push(`\ud83d\udd39 *Platform:* Codeforces\\n\ud83c\udfc6 *Contest:* ${cf.name}\\n\u23f1\ufe0f *Starts:* ${getTimeRemaining(cf.startTimeSeconds)}\\n\u23f3 *Duration:* ${dur}`);\n  }\n}\n\n// Check ALL upcoming LeetCode contests within the relevant windows\nfor (const lc of lcUpcoming) {\n  const diff = lc.startTime - now;\n  const dur = getDuration(lc.duration);\n  if (diff > 0 && diff <= 75 * 60) {\n    oneHourAlerts.push(`*LeetCode:* ${lc.title} (Duration: ${dur})`);\n  }\n  if (diff > 0 && getIstDateStr(lc.startTime) === todayStr && currentHour >= 8) {\n    todayAlerts.push(`\ud83d\udd39 *Platform:* LeetCode\\n\ud83c\udfc6 *Contest:* ${lc.title}\\n\u23f1\ufe0f *Starts:* ${getTimeRemaining(lc.startTime)}\\n\u23f3 *Duration:* ${dur}`);\n  }\n}\n\n// Fix #1: compute \"is this a NEW one-hour alert\" up front, so the priority chain\n// only takes the one-hour branch when there's actually something new to send.\n// Otherwise it stops falling through and silently blocks today/weekly alerts.\nconst oneHourKey = oneHourAlerts.join(\",\");\nconst isNewOneHour = oneHourAlerts.length > 0 && staticData.lastOneHourAlert !== oneHourKey;\n\nif (isNewOneHour) {\n  message = \"\ud83d\udd25 *CONTEST STARTING IN 1 HOUR!* \ud83d\udd25\\n\\n\" + oneHourAlerts.join(\"\\n\");\n  if ($execution.mode !== \"manual\") { staticData.lastOneHourAlert = oneHourKey; }\n  send = true;\n}\nelse if (todayAlerts.length > 0 && staticData.lastContestDay !== todayStr) {\n  message = \"\ud83c\udf05 *Contests Happening Today!* Good luck:\\n\\n\" + todayAlerts.join(\"\\n\\n\");\n  if ($execution.mode !== \"manual\") { staticData.lastContestDay = todayStr; }\n  send = true;\n}\nelse if ((currentDay === 1 || currentDay === 4) && currentHour >= 18 && staticData.lastWeeklyDay !== todayStr) {\n  message = \"*\ud83d\udcc5 Weekly Contest Overview*\\n\\n\";\n  if (nextCf) message += `\ud83d\udd39 *Platform:* Codeforces\\n\ud83c\udfc6 *Contest:* ${nextCf.name}\\n\u23f1\ufe0f *Starts:* ${getTimeRemaining(nextCf.startTimeSeconds)}\\n\u23f3 *Duration:* ${getDuration(nextCf.durationSeconds)}\\n\\n`;\n  if (nextLc) message += `\ud83d\udd39 *Platform:* LeetCode\\n\ud83c\udfc6 *Contest:* ${nextLc.title}\\n\u23f1\ufe0f *Starts:* ${getTimeRemaining(nextLc.startTime)}\\n\u23f3 *Duration:* ${getDuration(nextLc.duration)}\\n\\n`;\n  if ($execution.mode !== \"manual\") { staticData.lastWeeklyDay = todayStr; }\n  send = true;\n}\n\nif (!send) {\n  return []; // Stop workflow silently\n}\n\nreturn [{ json: { message } }];\n"
      },
      "id": "3",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/myinstance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<YOUR_EVOLUTION_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"<YOUR_GROUP_ID>@g.us\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"text\": $json.message\n}",
        "options": {}
      },
      "id": "4",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contest-check",
        "options": {}
      },
      "id": "69e848ec-ba25-430d-9fcd-c7ad76d67dde",
      "name": "Wake Listener Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        500
      ],
      "webhookId": "5c661b8b-dc4d-4e3b-a397-759843b5f80f"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Codeforces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Codeforces": {
      "main": [
        [
          {
            "node": "Fetch LeetCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LeetCode": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wake Listener Webhook": {
      "main": [
        [
          {
            "node": "Fetch Codeforces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}